#header{
    padding: 5%;
    text-align: center;
    background-color: #3A445D;
   margin-bottom: 5%;
   color: #928779;
}
#BmiResult p{
    background-color:#D4D2A5 ;
}
#footer {
    margin-top: 30px;
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}